<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<section>
    <div>
        <div class="text-white text-center">
            <h1 style="color: black">Credit Application</h1>
            <p style="color: black">Welcome to Evren's Credit Application System.</p>
            <a th:href="@{/create}" class="btn btn-primary"> </i>Create Customer</a>
        </div>
    </div>
</section>


</body>
</html>