<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base::layout(~{::section})">
<head>
    <meta charset="ISO-8859-1">
    <title>title</title>
</head>
<body>
<section>
    <div class="container">
        <h3 class="text-center" th:text="#{customers}">Customers</h3>

    </div>

    <div class="text-center">
        <table border="1" class="table table-striped table-responsive-md">
            <thead>
            <tr>
                <th th:text="#{fullName}">Full name</th>
                <th th:text="#{identityNumber}">Identity Number</th>
                <th th:text="#{phoneNumber}">Phone Number</th>
                <th th:text="#{income}">Income</th>
                <th th:text="#{actions}">Actions</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="customer : ${customers}">
                <td th:text="${customer.fullName}"></td>
                <td th:text="${customer.identityNumber}"></td>
                <td th:text="${customer.phoneNumber}"></td>
                <td th:text="${customer.income}"></td>
                <td class="text-center">
                    <a th:href="@{'/customer/updateCustomer/' + ${customer.id} }"
                       class="btn btn-primary btn-sm" th:text="#{edit}">Edit</a>

                    <a th:href="@{'/customer/deleteCustomer/' + ${customer.identityNumber} }" class="btn btn-danger btn-sm ml-2" th:text="#{delete}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>


        <div class="row p-4">
            <div class="col-md-4">Total Elements : [[${totalElement}]]</div>
            <div class="col-md-6">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">

                        <li th:classappend="${pageNo==0} ? 'disabled':'' " class="page-item">
                            <a class="page-link" th:href="@{'/customer/viewCustomers/'+${pageNo - 1} }" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>

                        <li th:each="i : ${#numbers.sequence(1,totalPage)}"
                            th:classappend="${pageNo+1 == i}?'active': '' " class="page-item">
                            <a th:href="@{'/customer/viewCustomers/'+ ${i - 1} }" class="page-link" href="#">[[${i}]]</a>
                        </li>
                        <li th:classappend="${pageNo+1 == totalPage} ? 'disabled':'' " class="page-item">
                            <a class="page-link" th:href="@{'/customer/viewCustomers/'+${pageNo + 1} }" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>


    </div>

</section>
</body>
</html>